<% if current_user %>
  <h1>Hey <%= current_user.username %>, Welcome to your personal blog page</h1>
  <%= button_to "My Account", edit_user_registration_path %>
  <br>
  <%= button_to "LogOut", destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Welcome to Blogging Platform</h1>
  <%= button_to "LogIn", new_user_session_path %>
  <br>
  <%= button_to "SignUp", user_registration_path %> 
<% end %>
<br><p>Visit the Articles : </p><%= link_to 'Articles', articles_path %>
